# Python venv
torch_env/
venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*.egg-info/
dist/
build/
Lib/
Scripts/
Include/
share/
PlantVillage/
.ipynb_checkpoints/
# Large files
*.zip
*.pth
*.pt
*.h5
*.ckpt
*.csv